// download-ourapp
.download-ourapp {
  @include full-width;
  padding: 282px 0 81px;
  @include css3(backgraounf-size, 'cover');
}

// btn-site
.btn-site {
  font-size: 20px;
  color: $white;
  background: rgba(255, 100, 149, 1);
  @include calibri('bold');
  @include border-radius(200px);
  border: none;
  padding: 12px 6px;
  width: 100%;
  max-width: 221px;
  letter-spacing: 0.4px;
  line-height: normal;

  &.contact-btn {
    width: 163px;
  }

  &, &:hover, &:focus, &:visited {
    background: -moz-linear-gradient(top, rgba(255, 100, 149, 1) 0%, rgba(255, 144, 144, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 100, 149, 1)), color-stop(100%, rgba(255, 144, 144, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 100, 149, 1) 0%, rgba(255, 144, 144, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 100, 149, 1) 0%, rgba(255, 144, 144, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 100, 149, 1) 0%, rgba(255, 144, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 100, 149, 1) 0%, rgba(255, 144, 144, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6495', endColorstr='#ff9090', GradientType=0);
  }

  // visited
  &:hover, &:focus, &:visited {
    color: $white;
  }
}

// container-1124
.container.container-1124 {
  @include mq(min, 1250) {
    width: 100%;
    max-width: 1224px;
  }
}

// container-1014
.container.container-1090 {
  @include mq(min, 1250) {
    width: 100%;
    max-width: 1090px;
  }
}

// plug-play
.plug-play {
  @include full-width;
  background-color: #ffe4fc;
  padding: 76px 0;
  text-align: center;

  @include custom-max(1199) {
    padding: 40px 0 65px;
  }
  @include custom-max(360) {
    padding: 46px 0 65px;
  }

  // ul
  ul {
    margin-top: 44px;
  }

  // depuis
  .depuis {
    padding-left: 79px;
    padding-top: 35px;
    padding-right: 0;
    @include custom-max(1299) {
      padding-left: 15px;
      padding-top: 26px;
    }
    @include custom-max(767) {
      padding-top: 35px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  // h3
  h3 {
    font-size: 35.24px;
    letter-spacing: -0.8px;
    margin-top: 0;
    margin-bottom: 78px;
    @include custom-max(1199) {
      margin-bottom: 40px;
    }
    @include custom-max(767) {
      font-size: 30px;
    }
  }

  // p
  p {
    margin-bottom: 30px;
  }

  // li,p
  p {
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: -0.5px;

    &:last-child {
      margin-bottom: 0;
    }

    @include custom-max(991) {
      font-size: 18px;
    }
    @include custom-max(767) {
      font-size: 17px;
    }
  }

  // h6
  h6 {
    font-size: 25.48px;
    margin-top: 0;
    margin-bottom: 46px;
    @include custom-max(767) {
      margin-bottom: 40px;
    }
    @include custom-max(479) {
      margin-bottom: 30px;
    }
  }
}


// plug-play
.plug-play, .fonctionnalites .contentScetion {
  // ul
  ul {
    li {
      display: block;
      position: relative;
      padding-left: 22px;
      font-size: 20px;
      line-height: 1.55;
      letter-spacing: -0.5px;
      @include custom-max(991) {
        font-size: 18px;
      }
      @include custom-max(767) {
        font-size: 17px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      // before
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 13px;
        width: 7px;
        height: 7px;
        background-color: $orange;
        @include custom-max(480) {
          top: 8px;
        }
      }
    }
  }

}

// securite-protection
.securite-protection {
  @include full-width;
  background-color: #faf7fb;
  padding: 113px 0 59px;
  @include custom-max(1199) {
    padding: 40px 0 40px;
  }
  // contentScetion
  .contentScetion {
    h3 {
      @include mq(min, 992) {
        padding-right: 60px;
      }
    }
  }

  // p
  p {
    color: rgba(0, 0, 0, 0.68);
    margin-top: 26px;
  }

  // securite-link
  .securite-link {
    width: 100%;
    float: left;
    display: block;
    text-align: left;
    margin-top: 34px;
    @include custom-max(767) {
      text-align: center;
    }

    img {
      vertical-align: top;
    }

    // a
    a {
      margin-right: 59px;
      display: inline-block;
      vertical-align: top;
      @include custom-max(767) {
        padding: 0 15px;
        margin-right: 0px;
        margin-bottom: 20px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

// souhaitez-infos
.souhaitez-infos {
  @include full-width;

  img {
    margin: 94px 0 76px;
    @include custom-max(1199) {
      margin: 40px 0 40px;
    }
  }
}

// wave-shadow
.wave-shadow {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 100%;
  margin-bottom: -1px;
}

//fonctionnalites
.fonctionnalites {
  @include full-width;
  padding: 80px 0;
  @include custom-max(1199) {
    padding: 40px 0 65px;
  }

  // col-lg-7
  .col-lg-7 {
    @include custom-max(1399) {
      width: 50%;
    }
    @include custom-max(1199) {
      width: 100%;
    }
  }

  // col-lg-5
  .col-lg-5 {
    @include custom-max(1399) {
      width: 50%;
    }
    @include custom-max(1199) {
      width: 100%;
    }
  }
}

//fonct-img
.fonct-img {

}

//contentScetion
.contentScetion {
  @include calibri(normal);
  padding: 55px 0;
  @include custom-max(1199) {
    padding: 40px 0 33px;
  }
  @include custom-max(479) {
    text-align: center;
  }

  h5 {
    @include calibri(bold);
    font-size: 23px;
    color: $orange;
    margin-bottom: 11px;

    @include mq(min, 1199) {
      letter-spacing: -0.5px;
      margin-top: 0;
    }
    @include custom-max(767) {
      margin-top: 0;
      font-size: 19px;
      letter-spacing: normal;
    }
    @include custom-max(500) {
      font-size: 17px;
    }
  }

  //line
  .line {
    width: 104px;
    height: 1px;
    background: $l-gray;
    margin-bottom: 25px;
    @include custom-max(767) {
      margin-bottom: 22px;
    }
    @include custom-max(500) {
      margin-bottom: 18px;
    }
    @include custom-max(479) {
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h3 {
    font-size: 40.75px;
    color: $black;
    margin: 0;
    line-height: 1.3;
    margin-bottom: 15px;
    @include mq(min, 1199) {
      letter-spacing: -0.9px;
    }
    @include custom-max(767) {
      font-size: 36px;
      letter-spacing: normal;
    }
    @include custom-max(500) {
      font-size: 30px;
    }
    @include custom-max(479) {
      font-size: 26px;
    }
  }

  p {
    font-size: 22px;
    margin-bottom: 32px;
    @include mq(min, 1199) {
      letter-spacing: -0.5px;
    }
    @include custom-max(991) {
      font-size: 20px;
    }
    @include custom-max(767) {
      font-size: 18px;
    }

    @include mq(max, 991) {
      br {
        display: none;
      }
    }
    //strong
    &.strong {
      margin-bottom: 25px;
      letter-spacing: -0.2px;
      font-weight: 700;
    }
  }

  ul {
    text-align: left;
    margin-left: 30px;
    @include custom-max(1740) {
      margin-left: 10px;
    }
  }
}

//contactez-nous
.contactez-nous {
  text-align: center;
}

//containerCustom-width
.containerCustom-width {
  @include mq(min, 1200) {
    width: 100%;
    padding: 0 30px;
  }
  @include mq(min, 1400) {
    padding: 0 75px;
  }
  @include mq(min, 1810) {
    width: 1796px;
  }
}

//application-modulable
.application-modulable {
  background: #fff5f0;
  @include full-width;
  padding: 65px 0 130px;
  overflow-x: hidden;
  @include custom-max(1199) {
    padding: 65px 0 90px;
  }
  @include custom-max(767) {
    padding: 65px 0 60px;
  }

  // col-xs-6
  .col-xs-6 {
    @include custom-max(479) {
      width: 100%;
    }
  }

  // contentScetion
  .contentScetion h3 {
    @include mq(min, 992) {
      padding-right: 92px;
    }
  }

  //mes-result
  .mes-result {
    margin: 0 auto;
    @include mq(min, 992) {
      max-width: none;
      position: absolute;
      left: -185px;
      top: -13px;
    }
    @include mq(max, 991) {
      position: relative;
      right: -6%;
    }
    @include mq(max, 479) {
      right: 44%;
      width: 214%;
      max-width: none;
    }
  }
}

//app-notificaton
.app-notificaton {
  @include calibri(normal);
  padding: 35px 0 0;
  margin-bottom: 28px;
  @include mq(max, 1199) {
    margin-bottom: 20px;
  }
  @include mq(max, 479) {
    height: auto !important;
    text-align: center;
  }
  @include custom-max(500) {
    padding: 15px 0 0;
  }

  // img
  img {
    display: inline-block;
    margin-bottom: 34px;
    @include custom-max(767) {
      margin-bottom: 17px;
    }
  }

  // h3
  h3 {
    font-size: 26.3px;
    letter-spacing: 0.3px;
  }

  p {
    font-size: 18px;
    color: $black;
    @include custom-max(767) {
      font-size: 18px;
    }
  }
}

//resister-field
.resister-field {
  @include full-width;
  padding-bottom: 65px;

  .contentScetion {
    padding-bottom: 83px;
    @include custom-max(1199) {
      padding-bottom: 40px;
    }

    h3 {
      letter-spacing: 0;
    }

    h5 {
      font-size: 20px;
      letter-spacing: -0.4px;
    }

  }

  //form-group
  .form-group {
    margin-bottom: 73px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    float: left;
    width: 100%;
    @include custom-max(991) {
      margin-bottom: 55px;
    }
    @include custom-max(767) {
      margin-bottom: 40px;
    }
    //input
    input {
      border: none;
      outline: none;
      height: 43px;
      padding: 0;
      margin-left: 0;
      color: $black;
    }

    //form-control
    .form-control {
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-top: none;
      font-size: 26px;
      @include custom-max(767) {
        font-size: 20px;
      }
    }

    //textarea-group
    &.textarea-group {
      padding: 0;
      margin-bottom: 30px;
      border-bottom: none;

      //label
      label {
        font-size: 26px;
        font-weight: normal;
        margin-bottom: 9px;
        @include custom-max(767) {
          font-size: 20px;
        }

        //sup
        sup {
          color: #ff7493;
        }
      }

      //textarea
      textarea {
        border: 1px solid #cccccc !important;
        border-bottom: none;
        padding: 8px 20px;
        height: 211px;
        resize: none;
        display: block;
        width: 100%;
        @include mq(max, 767) {
          padding: 6px 15px;
        }
      }
    }

  }
}

//nopadding
.nopadding {
  @include mq(min, 992) {
    padding-left: 0;
    padding-right: 0;
  }
}

// focus-placeholder
.focus-placeholder {
  label.p-label {
    @include transition(all 0.2s);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  // form-control
  .form-control {
    color: #000;
  }

  //form-control
  .form-control + label.p-label {
    font-weight: inherit;
    color: inherit;
    font-size: 26px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    margin: 0;
    cursor: text;
    @include transform(translate(0, -50%));
    @include css3(user-select, none);
    padding: 0;
    @include mq(max, 991) {
      left: 0;
    }
    @include custom-max(767) {
      font-size: 20px;
    }

    sup {
      color: #ff7493;
    }
  }

  //fill-class
  .form-control:focus + label.p-label,
  .form-control + label.p-label.fill {
    top: -3px;
    @include transform(translate(0, -100%));
    margin-top: 13px;
    font-size: 17px;
  }

  // fill
  .form-control + label.p-label.fill {
    color: green;

    sup {
      color: green;
    }
  }

  // form-group
  .form-group input, .form-group select {
    background: transparent;
    position: relative;
    z-index: 8;
  }
}

//z-index-up
.z-index-up {
  position: relative;
  z-index: 99;
}

//form-check
.form-check {
  float: left;
  width: 100%;
  margin-right: 24px;
  font-style: normal;

  //styled-checkbox
  .styled-checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 17px;
      padding-left: 27px;
      margin: 0;
      font-weight: 400;
      letter-spacing: -0.3px;
      color: rgba(0, 0, 0, .61);
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 4px;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border: 1px solid #7a7a7a;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 2px;
      @include imgurl(check-pic, png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 15px;
      height: 15px;
    }
  }

  //right-check-box
  &.right-check-box {
    width: 29%;
    margin-bottom: 20px;
  }

}

//custom-check
.merci-choisir {
  &.custom-check {
    margin-bottom: 63px;
    float: left;
    width: 100%;
    @include custom-max(991) {
      margin-bottom: 40px;
    }
    @include custom-max(360) {
      margin-bottom: 32px;
    }
  }
}

// votre-bottom
.votre-bottom {
  @include custom-max(1199) {
    padding-top: 0;
  }
  @include mq(max, 767) {
    padding-bottom: 16px;
  }
}
