// font size
$bodysize: 16px !default;

// Black color
$black: #000000;
// gray Color
$gray: #909090;
// light gray Color
$l-gray: #dddddd;
// white Color
$white: #fff;

$orange: #ff712e;

//Image path
$imageUrl: '../images';
//$ontUrl path
$fontUrl: '../vendor/fonts';


