// bootstrap
@import "bootstrap";
// variable
@import "variable";
// Mixins
@import "mixins";

//font face
@font-face {
  src: url('#{$fontUrl}/Calibri.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-family: 'Calibri';
}

@font-face {
  src: url('#{$fontUrl}/Calibri-Bold.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri-Bold.woff') format('woff');
  font-family: 'Calibri';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url('#{$fontUrl}/Calibri-Light.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri-Light.woff') format('woff');
  font-family: 'Calibri';
  font-weight: 300;
  font-style: normal;
}

/*img*/
img {
  max-width: 100%;
  height: auto;
}

/*appearance none*/
select, textarea, button {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
}

select {
  cursor: pointer;
}

// default
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*a link*/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*select*/
select::-ms-expand {
  display: none;
}

/*body*/
body {
  background-color: $white;
  color: #000;
  font-size: 14px;
  font-kerning: none;
  @include calibri('normal');
}

/*body, html*/
body, html {
  height: 100%;
  margin: 0;
}

/*webkit-scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6239ae;
  border-radius: 80px;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
  background-color: #F5F5F5;
}

// For Internet Explorer
body {
    scrollbar-face-color: #6239ae;;
    scrollbar-track-color: #F5F5F5;
}

// import scss files
// header
@import "header";
// home
@import "home";
// footer
@import "footer";
